<h1>Request a Quote</h1>
<h4>If you would like a quick quote on a product or products, please complete the Quote Request Form below.</h4>

<%#= render 'form' %>

<%= form_for(@request) do |f| %>
  <div class="actions">
    <%= render 'request_fields', :f=>f %>
    <%= f.submit "Ask for a Quote" %>
  </div>
<% end %>

<%#= link_to 'Back', requests_path %>
