<div id="main_contact">
  <h1>Contact <%#= link_to(logo(options = {:size=>"400x200"})) %> Northpoint Canadian Company Today</h1>

<p>&nbsp;</p>
<table style="margin-left: 10px; width: 541px; height: 339px" cellspacing="1" cellpadding="1" border="1">
    <tbody>
        <tr>
            <td valign="top" width="50"><img height="59" alt="" width="45" src="images/icon_phone.jpg" /></td>
            <td colspan="3">
            <h3>Phone:</h3>
            <p><span style="font-weight: bold" /></p>
            <p>Tel: (604) 272-7766 (Vancouver)<br />
            </td>
        </tr>
        <tr>
            <td valign="top" width="35"><img height="59" alt="" width="45" src="images/icon_email.jpg" /></td>

            <td colspan="3">
            <h3>Email:</h3>
            <p>For any requests for information or general inquiries, please email <a href=#> info@northpointcanadian.com.</a></p>
            </td>
            
        </tr>
        <tr>
            <td valign="top"><img height="59" alt="" width="45" src="images/icon_fax.jpg" /></td>
            <td valign="top" colspan="2">
            <h3>Fax:</h3>
            <p style="font-weight: bold"><span style="font-weight: bold" /><span style="font-weight: bold">Vancouver:</span><br />
            <span style="font-weight: normal">Fax: 604-275-6477</span><br style="font-weight: normal" />
            </span><span style="font-weight: normal" /></p>
            <p style="font-weight: bold"><span style="font-weight: normal">&nbsp;</span></p>
            <p style="font-weight: bold"><span style="font-weight: normal" /></p>
            <p style="font-weight: bold"><span style="font-weight: normal" /></p>
            <p style="font-weight: bold"><span style="font-weight: normal" /></p>
            </td>
        </tr>
        <tr>
            <td valign="top"><img height="59" alt="" width="45" src="images/icon_mail.jpg" /></td>
            <td valign="top" colspan="2">
            <h3>Mail:</h3>
            <p><span style="font-weight: bold">Head Office:</span><br />
            5757 Gilmore Crescent,<br />
            Richmond, British Columbia<br />
            V7C 3H3</p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <td>
            <p><span style="font-weight: bold">Mailing Address:</span><br />
            P.O. Box 48550,<br />
            Bentall Centre
            Vancouver, British Columbia<br />
        </td>
      </tr>
    </tbody>
</table>	
</div>

