<div class="home_content">
  <div class="image">
    <%=image_tag("product_lotion.png") %>
  </div>
  <div class="home_paragraph">
    <p>
      Northpoint Canadian Company is a wholesale supply company based in Richmond, BC.  We are distributors of various paper products, cleaning supplies, linens, amenities and more. 
    </p>
    <p>
    Established in 1992, Northpoint Canadian Company strives to continue to maintain fast, reliable, and friendly service.  Please feel free to <%= link_to "contact us",  contact_path%> if you have any questions.
    </p>
  </div>
</div>
