<tr>
  <td> 
    <%= link_to (image_tag(product.image_url, :width=>85, :height=>100)), product_path(product) %>
    <td class="title">
    <%= link_to product.name, product_path(product) %>
      <%# if current_user.admin? %>
      <!-- | -->  <%#= link_to 'delete', user, :method=>:delete, :confirm=>"You sure?",
                                        :title=>"Delete #{user.name}" %>
                                        <%#end%>
    </td>
  </td>

</tr>
