<footer>
  <nav class="round"> 
    <ul>
      <li><%= link_to "Home", root_path%></li> |
      <li><%= link_to "Products", products_path%></li> |
      <li><%= link_to "Request a Quote", request_quote_path%></li> |
      <li><%= link_to "Contact Us", contact_path %></li>      
    </ul>
    <ul class="footer_caption">
      Copyright &copy; 2010 Northpoint Canadian Company
    </ul>    
  </nav>
</footer>

